*{ 
    padding: 0; 
    margin: 0; 
    border: 0; 
    text-decoration: none; 
   } 
    
   :focus,:active{outline: none;} 
   a:focus,a:active{outline: none;} 
    
   nav,footer,header,aside{display: block;} 
    
   :root{ 
    --boss: rgb(160, 160, 160); 
    --colors: rgb(210, 198, 198); 
    --bg-color: #2b2b2b ;
   }  
    
   input,button,textarea{font-family:inherit;} 
    
   input::-ms-clear{display: none;} 
   button{cursor: pointer;} 
   button::-moz-focus-inner {padding:0;border:0;} 
   a, a:visited{text-decoration: none;} 
   a:hover{text-decoration: none;} 
   ul li{list-style: none;} 
   img{vertical-align: top;} 
    
   h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} 
    
   html{ 
    scroll-behavior: smooth; 
   }


body{
    background-color: #2b2b2b;
}



.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(./img/background-main.jpg);
    background-size: cover;
}
.header__nav{
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 4;
    opacity: 1;
    margin: 0px auto;
    height: 75px;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    /* font-family: 'Rubik', sans-serif; */
    font-family: "Work Sans";
}

.header__nav-body{
    display: flex;
    gap: 40px;
    
}
.header__logo{
    
    width: 75px;
    transition: 0.3s;
}
.header__logo:hover{
    cursor: pointer;
    animation: logo 1.5s linear;
}
@keyframes logo {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    }
}


.header__nav-link{
    width: auto;
    color: #fff;
    position: relative;
    transition: 0.3s;
}
.header__nav-link::before{
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #f00;
    transition: 0.3s;
}
.header__nav-link:hover::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #f00;}

.info-box{
    
}
.box-shadow{
    top: 0px;
    left: 0;
    z-index: 2;   
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
}

.title{
    font-size: 100px;
/*     font-family: 'Rubik', sans-serif;

 */
    font-family: "Work Sans";
 color: #fff;
    text-align: center;
    z-index: 5;
    position: absolute;
    right: 0;
    bottom: 0;
}

.info-title::after{
    position: absolute;
    width: 100%;
}

.main {
    background-color: #2B2B2B;
   /*  max-width: 1200px;
    margin: 0px auto; */
}

.intro-box{
    display: flex;
    gap: 100px;
    justify-content: center;
}
.intro-block {
    position: relative;
/*     height: 600px;
 *//*     background-color: #FB7474;
 */    display: flex;
    flex-direction: column;
    padding-left: 50px;
    background: var(--Background, #2B2B2B);
    padding: 40px 0px;
}
.intro-block:nth-child(2) {
    padding-right: 50px;
    display: flex;
    justify-content: center;
/*     background-color: #4D7FFF;
 */}
.intro__img-box {
    
}
.intro__img {
    border-radius: 25px;
    width: 550px;
    height: auto;
    
}


.intro__img-box{
    padding-top: 75px;
}

.intro__img:nth-child(2){
}
.intro__text-box {
/*     width: 50vw;
 */    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro__text {
    width: 450px;
/*     font-family: 'Rubik', sans-serif;
 */    font-size: 20px;
    color: #fff;
    font-family: "Work Sans";
    font-style: normal;
font-weight: 400;
line-height: normal;
}

.title_intro{
    padding-top: 50px;
    padding-bottom: 40px;
    color: var(--White, #FFF);

    /* H3 - Work Sans */
    font-family: Work Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 45.6px */
    text-align: start;
    width: 450px;


}


.img-decoration{
    left: 49px;
    top: 526px;
    position: absolute;
    transform: rotate(-30deg);
    z-index: 800;
    width: 120px;
}

.img-school{
    right: 30px;
    top: 526px;
    position: absolute;
    transform: rotate(-30deg);
    z-index: 800;
    width: 120px;
    display: none;
}


/* .U{
    color: rgb(255, 0, 0);
}
.S{
    color: rgb(34, 0, 255);
    
}
.A{
    color: rgb(255, 255, 255);

}
 */



 .popular-cases {
    padding-top: 50px;
/*     background-color: #FB7474;
 */    padding-bottom: 50px;
 background: var(--Background, #2B2B2B);
 position: relative;

}
.popular-cases-title {
    color: #FFF;
/* text-align: center;
font-family: Rubik;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal; */
padding: 25px;
padding-bottom: 15px;
color: var(--White, #FFF);
/* H3 - Work Sans */
font-family: "Work Sans";
font-size: 38px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 45.6px */
text-align: center;


}

.popular-cases-subtitle{
    color: #FFF;
/* text-align: center;
font-family: Rubik;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal; */
margin-bottom: 50px;
color: var(--White, #FFF);
text-align: center;
padding-bottom: 20px;
/* H3 - Work Sans */
font-family: "Work Sans";
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 45.6px */
}

.people-box {
    display: flex;
    justify-content: space-evenly;
}
.box-img {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.class-people-img {
    position: relative;
    width: 300px;
    height: 385px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px #777;
    filter: grayscale(100%);
    
}

/* .box-img::before{
    position: absolute;
    content: "";
    left: 2.5%;
    bottom: 85px;
    width: 95%;
    height: 80%;
    background: linear-gradient(90deg, rgb(42, 198, 255) 0%, rgb(0, 140, 255) 100%);
    filter:blur(1.2rem)
} */

.box-img::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 85px;
    width: 100%;
    height: 0%;
    background-color: #000000;
    transition: 0.3s;
}

.class-people-txt{
    font-size: 0px;
    color: #fff;
    line-height: 2px;
}
.people-text-city {
    display: none;
    transition: 0.3s;
}
.people-text-number {
    display: none;
}
.people-text-dato {
    display: none;
}

.box-img:hover::after{
    cursor: pointer;
    position: absolute;
    content: "";
    left: 0;
    bottom: 85px;
    width: 100%;
    height: 385px;
    background-color: #000;
    opacity: 0.9;
    border-radius: 20px;
    z-index: 4;
}
.box-img:hover .class-people-txt{
    color: #FFF;
text-align: center;
color: #FFF;
text-align: center;
/* font-family: Indie Flower;
 */font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 2;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    width: 300px;
font-size: 36px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    font-family: "Work Sans";
}

.box-img:hover .people-text-city {
    display: block;
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 300px;
position: absolute;
top: 20px;
left: 0px;
z-index: 5;

}
.box-img:hover .people-text-number {
    display: block;
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
z-index: 5;
flex-direction: column;
align-items: center;
justify-content: center;
width: 300px;
position: absolute;
top: 220px;
left: 0px;

}
.box-img:hover .people-text-dato {
    display: block;
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
z-index: 5;
flex-direction: column;
align-items: center;
justify-content: center;
width: 300px;
position: absolute;
top: 260px;
left: 0px;
}


.class-people-button{
    display: none;
    border-radius: 40px;
background: rgba(255, 255, 255, 0.58);
width: 215px;
height: 50px;
position: absolute;
left: 42.5px;
bottom: 125px;
color: #FFF;
text-align: center;
color: #FFF;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
transition: 0.3s;
}
.class-people-button:hover{
    transform: scale(0.9);
    background-color: #FB7474;
    color: #FFF;
    cursor: pointer;
}



.box-img:hover .class-people-button{
    display: block;
    z-index: 5;
}


.people-name{
    margin-top: 25px;
background-color: #464646; 
   text-align: center;
    color: #FFF;
/* text-align: center;
font-family: Indie Flower;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 20px; */
color: #FFF;
border-radius: 20px;
/* H5 - Work Sans */
font-family: Work Sans;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 30.8px */
height: 60px;
display: flex;
justify-content: center;
align-items: center;
background-color: #433dff;
box-shadow: 2px 2px 50px #433dff;


}
.people-name:hover{
}





.video-block {
    padding: 80px 0px;
    max-width: 1200px;
    text-align: center;

}
.video-title {
    color: #FFF;
font-family: Work Sans;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 30px;

}
.video-box {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.video {
    width: 550px;
    border-radius: 20px;

}
.video-text-box {
    margin-top: 50px;
}
.video-txt {
    color: #FFF;
font-family: Work Sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 350px;
text-align: start;
}
.video-button-link {
}
.video-button {
    margin-top: 20px;
    border-radius: 20px;
background: #FF3232;
width: 200px;
height: 50px;
color: #fff;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
transition: 0.3s;
}
.video-button:hover{
    transform: scale(1.1);
}










.facts{
    padding: 40px 0px;
    height: 100vh;
/*     background-color: #0800ff;
 */    background: var(--Background, #2B2B2B);

}
.facts-box{
    width: 750px;
    margin: 0px auto;
    height: 685px;
    border: 1px solid transparent;
    position: relative;
}

.main-circle{
    display: flex;
    position: inherit;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #0e09c1;
    margin: 240px auto;
    justify-content: center;
    z-index: 2;
    box-shadow: 2px 2px 20px 10px #0E09C3;
    color: var(--White, #FFF);

/* H3 - Work Sans */
font-family: Work Sans;
font-size: 38px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 45.6px */
 }

.main-circle:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #0e09c1;
}

.circle{
    display: flex;
/*     border: 5px solid #000000;
 */    border-radius: 50%;
    width: 145px;
    height: 145px;
    position: absolute;
    z-index: 2;
    background-color: #f00;
    padding: 7px;
    transition: 0.7s;
    box-shadow: 2px 2px 20px #f00;
    
}

.circle::after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #777;
    opacity: 0.7;
    border-radius: 50%;

}
.circle:hover{
    cursor: pointer;
    transform: scale(1.5);
    background-color: #ff0000;
}
.circle:hover::after{
    background: none;
    cursor: pointer;
}

.circle-title{
    display: flex;
    justify-content: center;
    padding-top: 75px;
    font-size: 30px;
    
}


.circle-linia{
    width: 100px;
    background-color: #ffffff;
    height: 2px;
    position: absolute;
    
}


.fact{
    color: #ffffff;
    text-align: center;
/*     font-family: Inter;
 */    font-size: 10px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 145px;
    font-family: "Work Sans";

}
.circle-linia:nth-child(1){
    top: 20px;
}
#l1{
    width: 125px;
    top: 325px;
    left: 152px;

}
#l2{
    width: 119px;
    top: 491px;
    left: 250px;
    transform: rotate(119deg);

}
#l3{
    width: 119px;
    top: 491px;
    right: 250px;
    transform: rotate(60deg);

}
#l4{
    width: 125px;
    top: 325px;
    right: 152px;

}
#l5{
    width: 119px;
    top: 200px;
    right: 250px;
    transform: rotate(120deg);

}
#l6{
    width: 119px;
    top: 200px;
    left: 250px;
    transform: rotate(60deg);
}
#c1{
    top: 250px;
    left: 0px;

}
#c2{
    bottom: 10px;
    left: 180px;

}
#c3{
    bottom: 10px;
    left: 420px;

}
#c4{
    top: 250px;
    right: 0px;

}
#c5{
    top: 10px;
    left: 420px;

}

#c6{
    top: 10px;
    left: 180px;

}
.small-circle{
    background-color: #ffffff;
    position: absolute;
    border-radius: 25px;
    z-index: 5;
    box-shadow: 2px 2px 10px #000;
}
#s1{
    width: 25px;
    height: 25px;
    top: 150px;
    left: 33px;

}
#s2{
    width: 40px;
    height: 40px;
    bottom: 150px;
    right: 33px;

}

#s3{
    width: 15px;
    height: 15px;
    bottom: 150px;
    left: -15px;

}
#s4{
    width: 50px;
    height: 50px;
    bottom: 75px;
right: 50;
}

#s5{
    width: 40px;
    height: 40px;
    bottom: 150px;
    right: 33px;

}

#s6{
    width: 15px;
    height: 15px;
    bottom: 150px;
    left: -15px;

}
#s7{
    width: 25px;
    height: 25px;
    top: 150px;
    left: 33px;

}





/*  background: var(--Background, #2B2B2B);



https://www.figma.com/file/pYLezccGqjYxg8djRax2y7/NFT-Marketplace?node-id=1647%3A23894&mode=dev


https://www.figma.com/file/Sb0z8nUgq9RAogKwhQu0zn/DREAM-HOUSE?type=design&node-id=843-28&mode=design&t=uwLHsIMyC8QyAsSK-0


https://www.figma.com/file/SKwG2RDjz3fWi9dq74I8zo/Organick?type=design&node-id=1-430&mode=design&t=F8nwEBp6ewcMK1Fz-0*/





.info-statictic {
    margin-top: 70px;
    padding: 80px 0px;

}
.info-statictic-title {
    color: var(--White, #FFF);

/* H3 - Work Sans */
font-family: Work Sans;
font-size: 38px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 45.6px */
 
text-align: center;
margin-bottom: 60px;
}
.info-statictic-box {
    display: flex;
    justify-content: center;
}  
.info-statictic-img {
    width: 500px;
    
}
.info-static-text {
    color: var(--White, #FFF);

/* Body Text- Work Sans */
font-family: Work Sans;
font-size: 20px;
width: 550px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 35.2px */
 }



.statictic {
    display: flex;
    background-image: url(./img/pngegg\ 1.png);
    background-size: cover;
    width: 100%;
    padding: 10px 0px;
    height: 800px;
    display: flex;
    justify-content: center;
}
.usa-statictic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center
}
.circle-usa{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 120px;
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50%;
    background-color: #ff0000ae;
    transition: 0.7s;
}

.circle-usa:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.countries-statictic {
    display: flex;
}
.country {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    flex-direction: column;
    justify-content: center;
}
.circle-statictic {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
    margin: 50px;
    margin-bottom: 5px;
    height: 50px;
    border-radius: 50%;
    background-color: #f00;
    transition: 0.7s;
}




.contry-info:hover{
    transform: scale(1.1) translateY(-10px);
    cursor: pointer;
}

.contry-info{
    transition: 0.7s;
}
.country-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.country-box {
    margin: 30px;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #ff0000ae;
}
.country-img {
    height: 20px;
    
}
.country-name {
    text-align: center;
}
.usa-name{
    text-align: center;
}

.number-statictic{
    color: var(--White, #FFF);

/* H3 - Work Sans */
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 45.6px */
     text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.number-usa{
    color: var(--White, #FFF);

    /* H3 - Work Sans */
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 45.6px */
             text-align: center;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}


.box-info-statictic{
    
    display: flex;
    /* width: 75px; */
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    font-family: Work Sans;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 45.6px */
         align-items: center;



}




.solution {
    padding: 40px 0px;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}
.solution-title {
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 30px;
}
.box-solution {
    display: flex;
    gap: 20px;
    max-width: 1200px;

}
.solution-text {
    padding-bottom: 15px;
}
.solution-txt {
    margin-top: 17px;
    padding: 25px;
    color: #FFF;
font-family: Work Sans;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.solution-img-box {

}
.solution-img {
 border-radius: 20px;
 padding: 1px;
}
.solution-img{
    width: 400px;
}
.solution-img-l{
    width: 200px;
    border-radius: 20px;
    margin-top: 20px;
}



.solution-img2{
    width: 400px;
    border-radius: 20px;
}
.solution-img-l2{
    width: 180px;
    border-radius: 20px;
    margin-top: 20px;
}



.box-linia-img{
    display: flex;
    gap: 20px;

}
.box-linia-img-2{
    display: flex;
    gap: 37px;


}



.aboutos {
    padding: 40px 0px;
    max-width: 1200px;
    margin: 0px auto;
}
.aboutos-title {
    color: #FFF;
font-family: Work Sans;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
}
.aboutos-block {
    display: flex;
    justify-content: center;
}
.aboutos-box-info {
}
.aboutos-img {
}
.aboutos-text {
    color: #FFF;
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
}



.footer {
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #646464;
}
.footer-title {
    color: #fff;
    font-family: Work Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 45.6px */
         text-align: center;
    margin-top: 10px;
}
.block-footer {
    display: flex;
}
.footer-box-link {
    padding: 30px 0px;
    margin: 0px auto;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.link-footer {
    color: #fff;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    transition: 0.5s;

}
.link-footer:hover{
    text-decoration: underline;
}