*{ 
    padding: 0; 
    margin: 0; 
    border: 0; 
    text-decoration: none; 
   } 
    
   :focus,:active{outline: none;} 
   a:focus,a:active{outline: none;} 
    
   nav,footer,header,aside{display: block;} 
    
   :root{ 
    --boss: rgb(160, 160, 160); 
    --colors: rgb(210, 198, 198); 
    --ua-b: ;
   }  
    
   input,button,textarea{font-family:inherit;} 
    
   input::-ms-clear{display: none;} 
   button{cursor: pointer;} 
   button::-moz-focus-inner {padding:0;border:0;} 
   a, a:visited{text-decoration: none;} 
   a:hover{text-decoration: none;} 
   ul li{list-style: none;} 
   img{vertical-align: top;} 
    
   h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} 
    
   html{ 
    scroll-behavior: smooth; 
   }


body{
    background-color: #000000;
}



.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(./img/background-main.jpg);
    background-size: cover;
}
.header__nav{
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 4;
    opacity: 1;
    margin: 0px auto;
    height: 75px;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
}

.header__nav-body{
    display: flex;
    gap: 50px;
    
}
.header__logo{
    
    width: 75px;
    transition: 0.3s;
}
.header__logo:hover{
    cursor: pointer;
    animation: logo 1.5s linear;
}
@keyframes logo {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    }
}


.header__nav-link{
    width: auto;
    color: #fff;
    position: relative;
    transition: 0.3s;
}
.header__nav-link::before{
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #f00;
    transition: 0.3s;
}
.header__nav-link:hover::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #f00;}

.info-box{
    
}
.box-shadow{
    top: 0px;
    left: 0;
    z-index: 2;   
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
}

.title{
    font-size: 100px;
    font-family: 'Rubik', sans-serif;
    /* border-bottom: 4px solid #ffffff;
    border-radius: 20px; */
    color: #fff;
    text-align: center;
    z-index: 5;
    /* width: 1000px; */
    /* padding-top: 500px; */
    /* margin-left: 500px; */
    position: absolute;
    right: 0;
    bottom: 0;
}

.info-title::after{
    position: absolute;
    width: 100%;
}

.main {
    
}
.intro-block {
    display: flex;
    justify-content: space-between;
    background-color: #FB7474;
}
.intro-block:nth-child(2) {
    display: flex;
    justify-content: space-between;
    background-color: #4D7FFF;
}
.intro__img-box {
    
}
.intro__img {
    width: 50vw;
    margin: 0px;
}
.intro__text-box {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro__text {
    width: 375px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #fff;
    margin-top: 25px;
}

.title_intro{
    font-family: 'Cormorant Garamond', serif;
    font-size: 70px;
    text-align: center;
    color: #fff;


}


/* .U{
    color: rgb(255, 0, 0);
}
.S{
    color: rgb(34, 0, 255);
    
}
.A{
    color: rgb(255, 255, 255);

}
 */
