*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
}
.header{
    width: 100%;
    background-color: #000000f6;
}
.header__nav{
    opacity: 1;
    margin: 0px auto;
    height: 75px;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
}

.header__nav-body{
    display: flex;
    gap: 50px;

}
.header__logo{
    
    width: 75px;
}
.header__nav-link:hover{
    color: #f00;
}

.info-box{
    position: relative;
    background-image: url(./img/background.jpg);
    background-size: cover;
    height: 90vh;
}
.box-shadow{
    top: 75px;
    left: 0;
    z-index: 2;   
    position: absolute;
    width: 100%;
    height: 90vh;
    background-color: #000;
    opacity: 0.5;
}

.info-title{
    font-size: 100px;
    font-family: 'Rubik', sans-serif;
    border-bottom: 4px solid #ffffff;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    z-index: 5;
    width: 1000px;
    margin: 0px auto;
    padding-top: 190px;
    padding-bottom: 10px;
position: relative;
}

.info-title::after{
    position: absolute;
    width: 100%;
}

.main {
    border: 1px solid #000;
/*     background: linear-gradient(180deg, rgb(201, 200, 200) 2%, rgba(255,255,255,1) 25%);
 */
/*     background-color: antiquewhite;
 */
 background-color: #000;
}
.intro-block {
    display: flex;
    width: 1200px;
    margin: 0px auto;
    margin-top: 20px;
    justify-content: center;
    gap: 75px;
}
.intro__img-box {
    
}
.intro__img {
    border-radius: 20px;
    width: 500px;
    box-shadow: -24px 24px 20px #6c6b6b;
}
.intro__text-box {
}
.intro__text {
    width: 375px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #fff;
    margin-top: 25px;
}

.title_intro{
    font-family: 'Cormorant Garamond', serif;
    margin-top: 100px;
    font-size: 70px;
    text-align: center;

}


.U{
    color: rgb(168, 0, 0);
}
.S{
    color: rgb(21, 0, 159);
    
}
.A{
    color: rgb(255, 255, 255);

}

